@inherits LayoutComponentBase

<AuthorizeView>
        <Authorized>
            <NavMenu></NavMenu>
        </Authorized>
</AuthorizeView>

<main role="main" class="container mt-4">
    @Body
    <div id="blazor-error-ui">
        <div class="alert alert-danger alert-dismissible fade show" style="" role="alert">
            <strong>Error:</strong>

            <environment include="Staging,Production">
                An error has occurred. This application may no longer respond until reloaded.
            </environment>
            <environment include="Development">
                An unhandled exception has occurred. See browser dev tools for details.
            </environment>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    </div>


</main>


<style>
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1440px !important;
    }
</style>

@*@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider
<div class="page">
    <AuthorizeView>
        <Authorized>
            
            <div class="sidebar">
                <NavMenu />
            </div>

            <div class="main">
                <div class="top-row px-4">
                    <button type="button" class="btn btn-link ml-md-auto" @onclick="@LogoutClick">Logout</button>
                </div>

                <div class="content px-4">
                    @Body
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
           
            @Body
        </NotAuthorized>
    </AuthorizeView>
</div>


@code{

    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }
}*@